h1{
  background-color: grey;
  margin: 0;
  text-align: center;
  width: 360px;
  height: 60px;
  position: fixed;
}
body{
  margin: 0;
  padding-bottom: 100px;
}

.main{
  margin: auto;
  min-width: 20rem;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 900px;


}
.card{
  justify-content:space-around;
  margin: 25px;
  min-height: 590px;
  width: 300px;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 7px 29px 0 rgba(0, 0, 0, 0.2);
}
.description{
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp:3;
  -webkit-box-orient:vertical;
  /* white-space: nowrap; */
}

button{
  height: 35px;
  width:100px;
  border: none;
  border-radius: 5px;
  background-color: #113CFC;
  color: white;
}
button:hover{
  background-color: #1597E5;
}
